@model E_Speed.Services.Users.UserServiceModel

<tr>
    <td>
        
        @Html.DisplayFor(modelItem => Model.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Email)
    </td>
    <td>
        @Html.CheckBoxFor(modelItem => Model.IsOfficeEmployee)
    </td>
    <td>
        @Html.CheckBoxFor(modelItem => Model.IsDeliveryEmployee)
    </td>
</tr>