@model E_Speed.Models.Shipments.ShipmentDetailListingViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delivery Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAccepted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAccepted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receiver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receiver)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryToOffice)
        </dt>
        <dd class="col-sm-10">
            @(Model.DeliveryToOffice ? "Yes" : "No")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Status == E_Speed.Data.Models.Enums.ShipmentStatus.Shipped 
         && Model.AssignedToDeliveryEmployeeId == this.User.Id())
    {
        <a asp-action="Deliver" asp-route-shipmentId="@Model.Id">Deliver</a>
    }
    |
    <a asp-action="Index">Back to List</a>
</div>
