@model E_Speed.Models.Shipments.AllShipmentQueryModel

@{
    ViewData["Title"] = "Shipments";
}

<head>
    <style type="text/css">
        .btn-circle.btn-md {
            width: 50px;
            height: 50px;
            padding: 7px 10px;
            border-radius: 125px;
            font-size: 28px;
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    </style>
</head>

<section class="py-5">
    <div class="container">
        <div class="row" style="margin: 2%;">
            <div style="margin-left: 43%;">
                <h1>Shipments</h1>
            </div>
            <div class="col-md-1">
                <a href="/Shipments/Create" class="btn btn-outline-info btn-circle btn-md">+</a>
            </div>
        </div>
        <div style="padding: 5%;">

            <br />

            @if (Model.ShipmentRequests.Count() != 0)
            {
                <div>
                    <a class="btn btn-info" data-toggle="collapse" data-target="#collapseCard" aria-expanded="false" aria-controls="collapseCard" id="collapsable" style="color: whitesmoke;">Show Requests ▽</a>
                </div>
                <div class="collapse" id="collapseCard">
                    <div class="card card-body" style="margin-top: 1%;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:center;">View</th>
                                    <th scope="col" style="text-align:center;">Sender</th>
                                    <th scope="col" style="text-align:center;">Receiver Name</th>
                                    <th scope="col" style="text-align:center;">Receiver Phone</th>
                                    <th scope="col" style="text-align:center;">Delivery To Office</th>
                                    <th class="col-md-2" style="text-align:center;">Delivery Address</th>
                                    <th scope="col" style="text-align:center;">Method</th>
                                    <th scope="col" style="text-align:center;">Description</th>
                                    <th class="col" scope="col" style="text-align:center;">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var s in Model.ShipmentRequests)
                                {
                                    <tr>
                                        <td>
                                            <div class="button-holder">
                                                <a href="/Shipments/ProcessRequest?requestId=@s.Id" class="btn btn-info text-uppercase">View</a>
                                            </div>
                                        </td>
                                        <td scope="row" style="text-align:center;">@s.Sender.FullName</td>
                                        <td style="text-align:center;">@s.ReceiverName</td>
                                        <td style="text-align:center;">@s.ReceiverPhone</td>
                                        <td style="text-align:center;">@s.DeliveryToOffice</td>
                                        <td style="text-align:center;">@s.DeliveryAddress</td>
                                        <td style="text-align:center;">@s.Method</td>
                                        <td style="text-align:center;">@s.Description</td>
                                        <td style="text-align:center;">@s.Status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            <br />

            @if (Model.Shipments.Count() == 0)
            {
                <h5>There are no shipments. Would you like to <a href="/Shipments/Create">add</a> the first one?</h5>
            }
            else
            {
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="text-align:center;">Details</th>
                            <th scope="col" style="text-align:center;">Date Accepted</th>
                            <th scope="col" style="text-align:center;">Sender</th>
                            <th scope="col" style="text-align:center;">Receiver</th>
                            <th scope="col" style="text-align:center;">Delivery To Office</th>
                            <th class="col-md-2" scope="col" style="text-align:center;">Delivery Address</th>
                            <th scope="col" style="text-align:center;">Weight</th>
                            <th scope="col" style="text-align:center;">Description</th>
                            <th scope="col" style="text-align:center;">Processed By</th>
                            <th scope="col" style="text-align:center;">Assigned To</th>
                            <th scope="col" style="text-align:center;">Price</th>
                            <th scope="col" style="text-align:center;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in Model.Shipments)
                        {
                            <tr>
                                <td>
                                    <div class="button-holder">
                                        <a href="/Shipments/Details?shipmentId=@s.Id" class="btn btn-info text-uppercase">View</a>
                                    </div>
                                </td>
                                <td scope="row" style="text-align:center;">@s.DateAccepted.ToShortDateString()</td>
                                <td style="text-align:center;">@s.Sender</td>
                                <td style="text-align:center;">@s.Receiver</td>
                                <td style="text-align:center;">@s.DeliveryToOffice</td>
                                <td style="text-align:center;">@s.DeliveryAddress</td>
                                <td style="text-align:center;">@s.Weight</td>
                                <td style="text-align:center;">@s.Description</td>
                                <td style="text-align:center;">@s.ProcessedByOfficeEmployee.FullName</td>
                                <td style="text-align:center;">@s.AssignedToDeliveryEmployee.FullName</td>
                                <td style="text-align:center;">@s.Price</td>
                                <td style="text-align:center;">@s.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</section>
