@model E_Speed.Areas.Admin.Models.Offices.AllOfficesQueryModel

@{
    ViewData["Title"] = "Offices";
}

<div class="row" style="margin: 2%;">
    <div style="margin-left: 43%;">
        <h1>Offices</h1>
    </div>
    <div class="col-md-1">
        <a href="/Admin/Offices/Create" class="btn btn-outline-info btn-circle btn-md">+</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OfficeId == 0)
        {
            <partial name="_CreateOfficePartial" model="new OfficeServiceModel {}" />
        }
        else if (Model.OfficeId != null)
        {
            <partial name="_EditOfficePartial" model="Model.Offices.First(x => x.Id == Model.OfficeId)" />
        }

        @foreach (var item in Model.Offices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-controller="Offices" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>